:root {
  --bg: #77DFCE;
}

.piano {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

li{
  list-style: none;
}

.lily {
  padding: 30px;
  padding-top:400px;
}

.log {
  padding: 30px;
  padding-top: 250px;
  background: black;
  color: white;
}

button{
  border: 4px #38a3a5 solid;
  cursor: pointer;
}

@layer presentation {
  body{
    background-color: var(--bg);
    display: grid;
    height: 100vh;
    place-items: center;
    background-image: url('assets/water_ripple.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

  }
}
